@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  @keyframes rotateIzq {
    0%,
    100% {
      transform: rotate(-5deg);
    }
    25% {
      transform: rotate(5deg);
    }
    75% {
      transform: rotate(0deg);
    }
  }

  @keyframes rotateDer {
    0%,
    100% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(5deg);
    }
    75% {
      transform: rotate(-5deg);
    }
  }

  .rotate-on-hover {
    transition: transform 0.3s ease;
  }

  .rotate-on-hover:hover {
    transform: rotate(180deg);
  }

  .rotate-izq {
    animation: rotateIzq 3s linear infinite; /* 6s representa el tiempo que tardará en dar una vuelta completa */
  }

  .rotate-der {
    animation: rotateDer 3s linear infinite; /* 6s representa el tiempo que tardará en dar una vuelta completa */
  }

  body {
    font-family: "Patrick Hand", cursive;
  }

  #title {
    font-family: "Hachi Maru Pop", cursive;
    margin-top: 25px;
    margin-bottom: 90px;
  }

  .title-min {
    font-size: calc(12px + 1.5vw);
  }

  .x::after {
    content: "";
    display: inline-block;
    background: url(/img/culo.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 15vw;
    max-width: 100px;
    height: 15vw;
    max-height: 100px;
  }

  .x-opa::after {
    content: "";
    display: inline-block;
    background: url(/img/culo-opa.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 15vw;
    max-width: 100px;
    height: 15vw;
    max-height: 100px;
  }

  .o::after {
    content: "";
    display: inline-block;
    background: url(/img/cara.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 14vw;
    max-width: 90px;
    height: 14vw;
    max-height: 90px;
  }

  .o-opa::after {
    content: "";
    display: inline-block;
    background: url(/img/cara-opa.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 14vw;
    max-width: 90px;
    height: 14vw;
    max-height: 90px;
  }

  .cursor-enabled {
    cursor: not-allowed !important;
  }

  .w::after {
    content: "";
  }

  .disabled {
    cursor: not-allowed;
    user-select: none;
  }
}
