@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .x::after {
    content: "❌";
  }

  .o::after {
    content: "⭕";
  }

  .disabled {
    cursor: not-allowed;
    user-select: none;
  }
}
